./ipynb_checkpoints/*
.ipynb_checkpoints/ResNet18_Dataset3_MPS-checkpoint.ipynb
.ipynb_checkpoints/ResNet18_Dataset1_MPS-checkpoint.ipynb
.ipynb_checkpoints/ResNet18_Dataset2_MPS-checkpoint.ipynb
ResNet18/.ipynb_checkpoints/ResNet18_Dataset1_MPS-checkpoint.ipynb
ResNet18/.ipynb_checkpoints/ResNet18_Dataset2_MPS-checkpoint.ipynb
ResNet18/.ipynb_checkpoints/ResNet18_Dataset3_MPS-checkpoint.ipynb
ResNet18/.ipynb_checkpoints/ResNet18_Dataset1_TL_MPS-checkpoint.ipynb
